/* CONFIGURAÇÃO */
@charset "UTF-8";

* {
    font-size: 16px;
}

.Container {
    width: 330px;
}

.container-article-form {
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.form-content {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.834);
    border: 1px solid #7B0B0A;
}

.btn-close-form {
    margin-left: 10px;
    color: #7B0B0A;
    cursor: pointer;
}

.btn-close-form i {
    font-size: 20px;
}

.container-form {
    height: 80%;
    width: 200px;
}

.form {
    height: 100%;
}

.form form {
    height: 100%;
}

.form-group {
    height: 50%;
}

label {
    margin-bottom: 30px;
}

.quizzes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-container {
    margin-top: 20px;
    display: flex;
    width: 300px;
    flex-direction: column;
    border: 1px solid #7B0B0A;
    padding: 10px;
    border-radius: 10px;
}

.quiz-content {
    width: 100%;
    border-bottom: 1px solid #7B0B0A;
}

.container-image {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.up-side, .down-side {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-down-side {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.down-side p {
    height: fit-content;
}

.quiz-features {
    padding: 10px;
    width: 100%;
}

.features {
    animation: translateX .5s forwards;
}

.btn-settings {
    cursor: pointer;
}

.btn-settings i {
    font-size: 18px;
}

.btn {
    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px; 
    margin-top: 10px;
    cursor: pointer;
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }
    
    .quizzes-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: fit-content;
    }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}