/* CONFIGURAÇÃO */
@charset "UTF-8";

.quizzes-container {
    flex-direction: column;
}

.quiz-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.quiz-container, .quiz-content {
    border: 1px solid #7B0B0A;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.quiz-content {
    width: 250px;
}

.up-side, .down-side {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50%;
}

.down-side {
    justify-content: space-between;
}

.quiz-features {
    padding: 10px;
}

.btn {
    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px; 
    margin-top: 10px;
    cursor: pointer;
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }

    .quiz-container {
        flex-direction: row;
    }
    
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}