@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

/* LAYOUT */
.Flex {
    height: 100vh;
}

.Hidden {
    display: none;
}

/* FONTES */

/* Poppins */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.visual,
.back {
    display: none;
}

input {
    display: flex;
    border-radius: 6px;
    height: 40px;
    border: none;
    background-color: #E7E7E7;
    margin-top: 2%;
}

.form-group {
    display: flex;
    /*flex-direction: column;*/
}

.flex-1 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 354px;
    gap: 10%;
}

.form-container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.flex-2 {
    width: 354px;
}

.form-container p,
a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.form-container a {
    color: #CE3C3C;
    text-decoration: none;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 9%;
    margin-top: 4%;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6%;
}

.btn-cad {
    display: flex;
    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
    color: white;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    width: 354px;
    margin-bottom: 8%;
}

.form-group {
    align-content: stretch;
    display: flex;
    flex-direction: column;
}


::-webkit-input-placeholder {
    color: #333333;
    padding: 19px;
}

:-ms-input-placeholder {
    color: #333333;
    padding: 19px;
}

::placeholder {
    color: #333333;
    padding: 19px;
}

input {
    border: 1px solid #DDDDDD;
    margin: 5px 1px 3px 0px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}


/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) {

    .Container {

        width: 720px;

    }

}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) {

    .flex {
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }

    .form-group {
        display: flex;
    }

    #register-container {
        margin: auto;
    }

    .visual {
        display: flex;
        width: 45%;
        background: linear-gradient(180deg, #C02425 45.91%, #7B0B0A 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .visual {
        display: block;
        flex-direction: column;
    }

    .visual-content {
        display: flex;
        flex-direction: column;
    }

    .visual-content {
        flex-direction: column;
    }

    .foto {
        margin-bottom: 5%;
    }

    .logo {
        margin-top: 75px;
    }

    .form-container {
        flex-direction: row;
        margin-top: 10%;
    }

    .form-container p,
    a {
        margin-top: 0;
        text-align: right;
    }

    .btn-cad {
        background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 40px;
        width: 145px;
        margin-right: 22.71%;
        margin-top: 0;
        margin-bottom: 0;
        cursor: pointer;
    }

    .flex-1 {
        display: inline-flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        flex-direction: row;
    }

    input {
        border-radius: 6px;
    }

    .back {
        position: absolute;
        display: flex;
        margin-top: -330px;
        margin-left: 35px;
    }

    .foto {
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .logo {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .txt {
        margin-bottom: 40px;
    }

}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    .Container {

        width: 90%;

    }

}