/* CONFIGURAÇÃO */
@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

/* FONTES */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;600&display=swap');


/* LAYOUT */
.Container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hidden {
    display: none;
}

.Button {
    background-color: transparent;
    border: none;
}

.Auto {
    margin: 0 auto;
}

.Transparent {
    color: transparent;
}

.Bg-white {
    background-color: white;
}

.White {
    color: white;
}

.Black {
    color: black;
}

.Box-shadow {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.214);
    -moz-box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.214);
    box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.214);
}

/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

header {
    position: sticky;
    width: 100%;
    top: 0;
    height: fit-content;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

nav.nav {
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
}

.nav-icons {
    width: 40px;
}

.nav-icons button {
    font-size: 25px;
}

.nav-icons .btn-close {
    color: rgb(210, 22, 22);
}

.nav-1 {
    position: absolute;
    left: 10px;
    top: 0;
    margin-top: 55px;
    height: 90vh;
    /* background-color: #ED5227; */
    background-image: linear-gradient(to bottom, #ED5227,#9A2828);
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 14px -2px rgba(41, 41, 41, 0.214);
    -moz-box-shadow: 0px 1px 14px -2px rgba(41, 41, 41, 0.214);
    box-shadow: 0px 1px 14px -2px rgba(41, 41, 41, 0.214);
    animation: translateX .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.links-nav-1 {
    list-style: inside;
    display: inline-block;
    width: fit-content;
    list-style-type: none;
    margin-top: 10px;
}

.links-nav-1 a {
    text-decoration: none;
}

.links-nav-1 i {
    margin-right: 10px;
}


.links-nav-1>.links {
    padding: 10px;
    border-bottom: .5px solid white;
}

.logo {
    display: none;
}

.nav-2 {
    position: relative;
    display: block;
}

.profile-pic-header {
    width: 40px;
    height: 40px;
}

.profile-img {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.dropdown-rect {
    position: absolute;
    margin-top: 10px;
    right: 0px;
    border-radius: 10px;
    width: 200px;
    /* background-color: #ED5227; */
    background-image: linear-gradient(to bottom, #ED5227,#9A2828);
}

.dropdown-tri {
    z-index: -1;
    position: absolute;
    rotate: -45deg;
    width: 10px;
    height: 20px;
    margin: 15px 5px 0px 0px;
    right: 0%;
    border-left: 60px solid transparent;
    background-color: #ED5227;
}

.links-nav-2 {
    list-style: inside;
    width: fit-content;
    list-style-type: none;
}

ul.links-nav-2 li {
    padding: 10px;
}

.links-nav-2 .links {
    transform-origin: top center;
    animation: translateX 300ms;
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    
    80% {
        transform: translateX(-5px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.scroll-effect {
    animation: show .5s forwards;
}

.links-nav-2 a {
    text-decoration: none;
    color: white;
}

.links-nav-2 i {
    margin-right: 10px;
    color: white;
}

.links-nav-2 .links {
    margin-bottom: 10px;
    padding: 10px;
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }

    nav.nav {
        padding: 15px 0px 15px 0px;
    }

    .nav-icons {
        display: none;
    }

    .nav-1 {
        position: static;
        display: inline-block;
        margin-top: 0px;
        left: 0;
        background-image: none;
        background-color: transparent;
        height: fit-content;
        border-radius: 0px;
        box-shadow: none;
    }

    .links-nav-1 {
        padding: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    .links-nav-1>.links {
        border: none;
        margin-bottom: 0px;
        border-bottom: none;
        float: left;
        margin: 0 17px 0 17px;
        padding: 0px;
    }

    .nav-2 {
        margin: 0 17px 0 17px;
    }

    .logo-mobile {
        display: none;
    }

    .logo {
        display: inline-block;
    }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}