@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS DA MENSAGEM */
header {
    position: fixed;
}

.msg {
    position: fixed;
    top: 70px;
}

@media (max-width: 768px) {

hr {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1065px;
    border: 2px solid #E5E5E5;
}

.hidden {
    display: none;
}

#btn-roll {
    transition: 0.5s;
}

#btn-roll:link {
    padding: 20px 38px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#btn-roll:visited {
    padding: 20px 38px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#btn-roll:hover {
    padding: 25px 43px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#img_logo_high {
    width: 100%;
}

#img-line {
    margin-top: 25px;
}

#img_logo_aboutus {
    width: 100%;
}

#img-logo-cursos {
    width: 12%;
    margin-right: 20px;
}

#container-logo {
    width: 55.56%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

#div-btn-roll {
    width: 271px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.25%;
}

#container-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

#info-aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 74.3%;
}

#div-text-aboutus {
    align-items: flex-start;
    width: 74.3%;
}

#align-aboutus {
    margin-bottom: 22px;
}

#div-img-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}

#container-oqvcvera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#info-oqvcvera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82.5%;
}

#div-title {
    width: 100%;
    margin-bottom: 20%;
}

#div-topicos {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.div-coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.cursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 13%;
}

.icon-cursos {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4%;
}

#container-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#div-info-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
}

.div-space{
    margin: 20% 0 20% 0;
    width: 100%;
}

.text-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-cards-cursos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.6%;
}
.cards{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.cards:hover{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 160px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.cards-timeline{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.cards-timeline:hover{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 160px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.titles {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

#txt_logo_high {
    letter-spacing: 1.1vw;
    font-style: normal;
    font-weight: 600;
    font-size: 3.1vw;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.style-maintext {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3C3C3C;
}

.style-regulartext {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}

.style-titles {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #C02425;
}
.style-titles-main {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #C02425;
}

#update-img {
    width: 150px;
    height: 150px;
}

}

@media (min-width: 768px) {

    /* INDEX PC COMPUTADOR LINDAO */

    hr {
        box-sizing: border-box;
        margin: 0 auto;
        width: 1065px;
        border: 2px solid #E5E5E5;
    }
    
    
    #btn-roll {
        transition: 0.5s;
    }
    
    #btn-roll:link {
        padding: 20px 38px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #btn-roll:visited {
        padding: 20px 38px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #btn-roll:hover {
        padding: 25px 43px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 15px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #img_logo_high {
        width: 100%;
    }
    
    #img-line {
        margin-top: 25px;
    }
    
    #img_logo_aboutus {
        width: 100%;
    }
    
    #img-logo-cursos {
        width: 3vw;
        margin-right: 20px;
    }
    
    #container-logo {
        width: 30.5%;
        height: 940px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #container-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 940px;
    }
    
    #div-btn-roll {
        width: 271px;
        height: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10.25%;
    }
    
    #container-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 100%;
    }
    
    #info-aboutus {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 57%;
    }
    
    #div-text-aboutus {
        align-items: flex-start;
        width: 74.3%;
    }
    
    #align-aboutus {
        margin-bottom: 22px;
    }
    
    #div-img-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 68px;
    }
    
    #container-oqvcvera {
        height: 635px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #info-oqvcvera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 915px;
        height: 470px;
    }

    #div-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 75px;
        margin-top: 105px;
    }

    #div-topicos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 75px;
    }


    .div-coluna {
        display: flex;
        flex-direction: column;
        gap: 80px;
        width: 21vw;
        height: 345px;
    }

    .cursos {
        display: flex;
        flex-direction: column;
        width: 21vw;
    }

    .icon-cursos {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    #div-ilustracaosharpay {
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 345px;
    }
    
    #container-cursos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #div-info-cursos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .div-space{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
        width: 100%;
    }
    
    .text-cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #div-cards-cursos-timeline{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.6%;
    }

    .div-cards-cursos{
        width: 86.45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.6%;
    }
    .cards{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24%;
        height: 390px;
        border-radius: 18px;
        background-color: #4E5BA6;
        margin-bottom: 15px;
    }
    
    .cards:hover{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26%;
        height: 410px;
        border-radius: 18px;
        background-color: #4E5BA6;
        margin-bottom: 15px;
    }
    
    .cards-timeline{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-color: #4E5BA6;
        margin-bottom: 15px;
    }
    
    .cards-timeline:hover{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        background-color: #4E5BA6;
        margin-bottom: 15px;
    }

    .titles {
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
    }
    
    #txt_logo_high {
        letter-spacing: 0.55vw;
        font-style: normal;
        font-weight: 600;
        font-size: 1.9vw;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .style-maintext {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #3C3C3C;
    }
    
    .style-regulartext {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #3C3C3C;
    }
    
    .style-titles {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #C02425;
    }

    .style-titles-main {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 26px;
        color: #C02425;
    }
    
    #update-img {
        width: 150px;
        height: 150px;
    }

}
