/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

header {
    width: 100%;
    position: fixed;
}

.nav-1 {
    box-shadow: none;
}

.links-nav-1 a {
    
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/