@charset "UTF-8";




* {

    padding: 0;

    margin: 0;

    font-family: Poppins, sans-serif;

    overflow: hidden;

    /*border: 1px solid black;*/

}




/* LAYOUT */

.Container {

    margin: 0 auto;

}




.Flex {

    display: flex;

    align-items: center;

    justify-content: center;

}




.Hidden {

    display: none;

}




.Button {

    background-color: transparent;

    border: none;

}




.Auto {

    margin: 0 auto;

}




/* FONTES */

/* Poppins */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 576px){
    }
    
.visual, .back{
    display: none;
}

input {

    display: flex;

    align-self: center;

    margin-top: 5px;

    border-radius: 4px;

    height: 40px;

    border: none;

    background-color: #E7E7E7;

}

.form-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.btn-con{
    grid-column: 1;
}

.form-container p, .form-container a{
    grid-column: 2;
}


.btn-con{
    width: 266px;
}


/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 576px) {

    .Container {

        width: 540px;

    }

}




input {

    margin-top: 5px;

    border-radius: 4px;

    height: 40px;

    border: none;

    background-color: #E7E7E7;

    width: 320px;

}




.form-group {

    align-content: stretch;

    display: flex;

    flex-direction: column;

}




.form-container {

    display: flex;

    width: 350px;

    margin-top: 8%;

}




.form-container p,
a {

    font-family: 'Poppins';

    font-style: normal;

    font-weight: 500;

    font-size: 13px;

    line-height: 20px;

    text-align: right;




}




.form-container a {

    color: #CE3C3C;

    text-decoration: none;

}




.title {

    font-family: 'Roboto', sans-serif;

    font-weight: bolder;

    font-size: 22px;

    margin-bottom: 6%;

    margin-top: 4%;

}




label {

    font-family: 'Poppins';

    font-style: normal;

    font-weight: 600;

    font-size: 16px;

    line-height: 24px;

    margin-top: 6%;

}




.btn-con {

    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);

    color: white;

    font-weight: 600;

    width: 145px;

    height: 40px;

    margin-bottom: 20px;

    border-radius: 10px;

    margin-right: 10%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);




}


::-webkit-input-placeholder { 
    color: #333333;
    padding: 19px;
  }
  
  :-ms-input-placeholder { 
    color: #333333;
    padding: 19px;
  }
  
  ::placeholder {
    color: #333333;
    padding: 19px;
  }


  @media (min-width: 768px) {

    .Container {

        width: 720px;

    }

}




/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) {




    .flex {

        display: flex;

        justify-content: space-between;

        height: 100vh;


    }



    .form-group {

        display: flex;

    }

}




#register-container {

    margin: auto;
}




.visual {

    width: 45%;

    max-height: 100;

    background: linear-gradient(180deg, #C02425 45.91%, #7B0B0A 100%);


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}




.visual-content {

    flex-direction: column;

}




.foto {

    display: block;

    margin-bottom: 0px;

}




.logo {

    display: block;

    margin-top: 75px;

}




.visual p {

    color: white;

    font-weight: 600;

    font-size: 22px;

    line-height: 33px;

    width: 348px;

    margin: 0 auto;

    margin-top: 32px;

    margin-bottom: 42px;

}




.Button {

    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 10px;

    width: 145px;

    height: 40px;

}

.back{

    margin-left: 30px;
    margin-top: 30px;
}   

.msg {
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    padding: 10px 19px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    animation: translateX 300ms;
    display: inline-flexbox;
    position: absolute;
}

.msg-content {
    margin-right: 20px;
}

.msg-content > p {
    text-indent: 6px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
}

.btn-close-msg {
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}

.msg-error {
    background-color: rgb(255, 129, 129);
    border-color: rgb(210, 22, 22);
    justify-content: center;
    align-items: center;
}

.msg-success {
    background-color: #6fdd8b;
    border-color: #25d73d;
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    
    80% {
        transform: translateX(-5px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.Container {

    max-width: fit-content;

}


/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px) {

    .Container {

        width: 90%;

    }

}