/* CONFIGURAÇÃO */
@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    border: 1px solid black;
}

/* FONTES */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400;500;600&display=swap');


/* LAYOUT */
.Container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hidden {
    display: none;
}

.Button {
    background-color: transparent;
    border: none;
}

.Auto {
    margin: 0 auto;
}

/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* HEADER */
header#header {
    height: fit-content;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    position: sticky;
    top: 0;
    background-color: white;
}

nav#nav {
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
}

nav#nav {
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
}

#nav-icons {
    width: 20px;
}

#nav-icons button {
    font-size: 25px;
}

#nav-icons #btn-close {
    color: rgba(192, 36, 37, 1);
}

#nav-1 {
    position: absolute;
    left: -100%;
    top: 0;
    margin-top: 50px;
    transition: 0.5s;
    height: 100vh;
    background-color: white;
    box-shadow: 5px 0 5px -5px rgba(205, 205, 205, 0.38);
}

#links-nav-1 {
    list-style: inside;
    display: inline-block;
    width: fit-content;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 10px;
}

#links-nav-1 a {
    text-decoration: none;
    color: #333333;
}

#links-nav-1>.links {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.644);
    padding: 10px;
}

#nav-2 {
    position: relative;
    display: block;
}

#profile-pic-header {
    width: 40px;
    height: 40px;
}   

.profile-img {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

#dropdown-rect {
    position: absolute;
    margin-top: 10px;
    right: 0px;

    width: 200px;
    height: fit-content;
    background-color: black;
}

#dropdown-tri {
    position: absolute;
    rotate: -45deg;
    width: 10px;
    height: 20px;
    margin: 15px 5px 0px 0px;
    right: 0%;
    border-left: 60px solid transparent;

    background-color: black;
}

#links-nav-2 {
    list-style: inside;
    width: fit-content;
    list-style-type: none;
}

#links-nav-2 a {
    text-decoration: none;
    color: white;
}

#links-nav-2 .links {
    margin-bottom: 10px;
    padding: 10px;
}

.msg-success,
.msg-error {
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.msg-error {
    background-color: rgb(234, 76, 76);
}

.msg-success {
    background-color: #5ee570;
}

/* INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */ 



/* LOGIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */ 
#register-container {
    padding-top: 120px;
    display: grid;

}

.form-group {
    display: grid;
    margin: 0 45px;
    grid-template-rows: 1fr, 1fr;
    margin-bottom: 30px;
    font-weight: 600;
}


.email {
    display: grid;
    grid-row: 1fr;

}

input {
    margin-top: 5px;
    border-radius: 4px;
    height: 40px;
    background-color: aquamarine;
}

.btn-con {
    display: grid;
    color: white;
    background-color: red;
    font-weight: 600;
    margin: 0 auto;
    width: 260px;
    margin-bottom: 20px;
}

p {
    display: grid;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* EDIT PROFILE */

#update-img {
    width: 150px;
    height: 150px;
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }

    nav#nav {
        padding: 15px 0px 15px 0px;
    }

    #nav-icons {
        display: none;
    }

    #nav-1 {
        position: static;
        display: inline-block;
        margin-top: 0px;
        left: 0;
        height: fit-content;
        box-shadow: none;
    }

    #links-nav-1 {
        padding: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    #links-nav-1>.links {
        margin-bottom: 0px;
        border-bottom: none;
        float: left;
        margin: 0 17px 0 17px;
        padding: 0px;
    }

    #nav-2-desktop {
        display: block;
    }

    #nav-2 {
        margin: 0 17px 0 17px;
    }

    #logo-mobile {
        display: none;
    }

    #logo {
        display: inline-block;
    }


/* INDEX PC COMPUTADOR LINDAO */


.hr {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1065px;
    border: 2px solid #E5E5E5;
}


#img_logo_high {
    width: 100%;
}

#img-line {
    margin-top: 25px;
}

#img_logo_aboutus {
    width: 210px;
}
#img-logo-cursos{
    width: 40px;
}

#container-logo {
    width: fit-content;

}

#container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-aboutus {
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#info-aboutus {
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 210px;
}

#div-text-aboutus {
    align-items: flex-start;
    width: 790.87px;
    height: 116px;
}

#align-aboutus {
    margin: 0 0 40px 0;
}

#div-img-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 68px;
}

#container-oqvcvera {
    height: 615px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#info-oqvcvera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 915px;
    height: 470px;
    background-color: #5ee570;
}

#div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 75px;
}
#div-topicos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #CE3C3C;

}


.div-coluna{
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 345px;
    background-color: lightcoral;
}

.cursos{
    display: flex;
    flex-direction : row;
    width: 255px;
}

.icon-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;    
}

#div-ilustracaosharpay{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 345px;
    background-color: lightsalmon;
    border: 2px solid #333333;
}

.titles {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #CE3C3C;
}

#txt_logo_high {
    letter-spacing: 0.225em;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.style-maintext {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    color: #3C3C3C;
}

.style-regulartext {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}

#size-cursos-main{
    font-size: 16px;
}

#size-cursos-regular{
    font-size: 12px;
    color: #777777;
}

}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}
