hr {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1065px;
    border: 2px solid #E5E5E5;
}
#img-banner {
    width: 100%;
    height: 6.790123456790123%;
}
#div-img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#titulo{
    flex: 1;
}

#titulo-y2k{
    /*position: absolute;*/
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 4.7vw;
    line-height: 60%;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    /*top: 23%;
    left: 45%;*/
    width: 8.75%;
    
    height: 2.9320987654320985%;
    color: #FFFFFF;
}

#container-primeiro-pag {
    display: flex;
  }
  
#div-primeiro-pag {
    flex: 1;
  }
  
#primeiro-pag {
    font-family: 'Poppins';
    font-style: normal;
    text-align: justify;
    font-weight: 300;
    font-size: 1.0vw;
    line-height: 1.5vw;
    color: #333333;
  }
  
#img-pag {
    width: 28.125%;
    height: 12.5%;
  }


































/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }


}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}