/* Banner */
.container-banner {
  width: 100%;
  height: 80px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.titulo-artigo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60%;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: white;
}

hr {
  box-sizing: border-box;
  margin: 0 auto;
  border: 2px solid #E5E5E5;
}

.container-pag {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 80px auto 80px auto;
  gap: 30px;
}

.img-pag { 
  background-size: cover;
  background-position: center;
  width: 255px;
  height: 255px;
  border-radius: 10px;
}

.txt-pag {
  width: fit-content;
  height: fit-content;
  font-family: 'Poppins';
  font-style: normal;
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
  line-height: 105%;
  color: #3C3C3C;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

  .container-banner {
    height: 150px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .container-pag {
    margin: 50px auto 50px auto;
  }

  .div-pag {
    width: 70%;
  }
  
}