.msg {
  margin-top: 20px;
}

.user-content {
  flex-direction: column;
}

.container-dashboard {
  margin: auto;
  width: 365px;
}

/*Container-user*/

.container-user {
  margin-top: 60px;
  height: 80vh;
}

.img-user {
  cursor: pointer;
  display: block;
  margin: 0px auto 10px auto;
  width: 189px;
  height: 189px;
}

.info-text>a {
  text-decoration: none;
  font-size: 13px;
  color: #C02425;
  font-weight: 500;
}

.a-dashboard,
.p-nickname,
.p-email,
.p-bio {
  display: block;
  width: fit-content;
  margin: auto;
}

.p-bio,
.p-email {
  color: #424245b7;
}

.p-bio {
  margin: 20px auto;
  width: 253px;
  text-align: center;
}

.info-emblems {
  display: flex;
  justify-content: center;
  width: 100%;
}

.emblems {
  width: 56px;
  cursor: pointer;
}

/* Quizzes */

.quizzes a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: #424245;
  width: fit-content;
  margin: 20px auto 30px auto;
}

.container-quizzes-conquistas {
  width: 90%;
  margin: auto;
}

.container-quiz {
  display: flex;
  border: 2.8px solid #CDCDCD;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.container-quiz>.icons {
  margin-right: 20px;
}

.icons {
  width: 55px;
}

.p-quiz-name {
  font-weight: 600;
}

/* Acertos */

.container-acertos {
  display: flex;
  padding: 12px 0px;
}

.acertos-icon {
  width: 80px;
  height: 80px;
  background-color: #FFB862;
  border-radius: 15px;
  margin-right: 20px;
}

.acertos-content {
  width: 70%;
  align-items: center;
  flex-direction: column;
}

.content-text {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.content-text>p {
  text-transform: uppercase;
  font-weight: 600;
}

.content-bar-container,
.bar {
  height: 21px;
  border-radius: 9px;
}

.content-bar-container {
  background-color: #E5E5E5;
}

.bar {
  position: relative;
  background-color: #C02425;
}

/* Ranking */

.buttons-emblems {
  margin: 20px 0px;
}

.btn-emblems {
  cursor: pointer;
}

.p-rankig-name {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid #CDCDCD;
}

.ranking {
  width: 90%;
}

.ranking-row {
  margin-top: 20px;
  gap: 20px;
  padding: 5px;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.ranking-row:hover {
  border: 1px solid black;
}

.number {
  border-radius: 100%;
  color: #CE3C3C;
  font-size: 19px;
  width: 36px;
  text-align: center;
}

.ranking-row>div {
  display: flex;
  justify-content: left;
  width: 80%;
}

.p-ranking-nickname {
  margin-left: 10px;
  color: #808080;
  font-size: 14px;
}

.img-user-ranking {
  width: 36px;
  height: 36px;
}

.p-score {
  width: 50px;
  font-size: 14px;
  text-align: center;
}

.btn-ranking {
  position: fixed;
  cursor: pointer;
  bottom: 5px;
  width: 204px;
  margin: auto;
  height: 37px;
  color: white;
  background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
  font-weight: 600;
  border-radius: 10px;
}

/* Classes do JS */

.Mobile {
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 77px;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.js-red-background {
  background-color: #F7DEDE;
}

/* JS */
.increasedWidth {
  width: 68px;
}

.st, .nd, .rd {
  box-shadow: 0px 2px 4px 0px rgba(41, 41, 41, 0.214);
  border-radius: 100%;
  color: black;
}

.st {
  background-color: #FFC800;
}

.nd {
  background-color: #8f7b67b6;
}

.rd {
  background-color: #8f6d5b;
}

@media (min-width: 576px) {
  .container-dashboard {
    width: 540px;
  }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
  .container-dashboard {
    width: 720px;
  }
}

/* Tablet Landscape (ATÉ 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
  .container-dashboard {
    width: 960px;
  }

  .user-content {
    flex-direction: row;
    gap: 40px;
  }

  .container-user {
    display: flex;
    flex-direction: left;
    gap: 60px;
    width: 100%;
    height: fit-content;
    border-bottom: 3px solid #CDCDCD;
  }

  .img-user {
    margin: none;
    width: 260px;
    height: 260px;
    margin-bottom: 40px;
  }

  .a-dashboard,
  .p-nickname,
  .p-email,
  .p-bio {
    display: block;
    width: auto;
    margin: none;
  }

  .p-bio {
    margin: 20px 0px;
    width: 553px;
    text-align: left;
  }

  .info-emblems {
    justify-content: flex-start;
  }

  /* Quizzes */

  h2 {
    margin: 20px 0 30px 0;
    text-indent: 10px;
  }

  .container-data {
    display: flex;
  }

  .container-quizzes-conquistas {
    width: 100%;
  }

  .quizzes {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: fit-content;
  }

  .container-quiz {
    display: flex;
    width: fit-content;
  }

  .acertos {
    border: 3px solid #CDCDCD;
    border-radius: 7px;
    width: 550px;
    margin: auto;
  }

  .container-acertos {
    border-bottom: 3px solid #CDCDCD;
    width: auto;
  }

  .container-acertos:last-child {
    border: none;
  }

  .acertos-icon {
    margin-left: 20px;
  }

  .acertos-content {
    margin: auto;
  }

  /* Rankings */

  .container-rankings {
    margin-top: 60px;
    border: 3px solid #CDCDCD;
    border-radius: 7px;
    padding: 10px;
  }

  .container-ranking {
    min-height: 693px;
    max-height: 693px;
    overflow: auto;
  }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
  .container-dashboard {
    width: 960px;
  }
}