.img-user {
    cursor: pointer;
    display: block;
    width: 189px;
    height: 189px;
  }

  .emblems {
    margin-right: 10px;
    width: 56px;
  }

  .increasedEmblem {
    width: 68px;
    height: 83px;
  }