.msg {
  margin-top: 20px;
}

#edit-container {
  margin: auto;
  padding: 15px;
}

h2 {
  margin: 20px 0px 30px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-group > input {
  text-indent: 10px;
}

input {
  width: 100%;
  height: 35px;
  border-radius: 13px;
  background-color: #adadad54;
  border: 2px solid rgb(180, 180, 180);
}

input[type="radio"] {
  display: none;
}

label {
  font-weight: 600;
  margin-bottom: 10px;
  width: 150px;
}

.img {
  margin-right: 15px;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
}

.border {
  border: 4px solid gray;
}

.user-avatars {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

#p-avatars {
  color: gray;
  margin-top: 10px;
  display: block;
  width: 100%;
}

#bio {
  height: 85px;
}

.btn-submit {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 150px;
  height: 45px;
  cursor: pointer;
  background-color: rgba(82, 82, 82, 0.308);
  border: 0;
  border-radius: 2px;
  outline: none;
  transition: .2s ease-in-out;
}

.btn-submit:hover {
  background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
  color: white;
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
  #edit-container {
      width: 700px;
  }
  .form-group {
    flex-direction: row;
  }
  .user-avatars {
    width: 577px;
  }
}