@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS DA MENSAGEM */
header {
    position: fixed;
}

.msg {
    position: fixed;
    top: 70px;
}

@media (max-width:  992px) {

hr {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1065px;
    border: 2px solid #E5E5E5;
}

.hidden {
    display: none;
}

#btn-roll {
    transition: 0.5s;
}

#btn-roll:link {
    padding: 20px 38px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#btn-roll:visited {
    padding: 20px 38px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#btn-roll:hover {
    padding: 25px 43px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    background: #ED5227;
    box-shadow: 0px 4.85549px 0px #A43A1D;
    border-radius: 11.0983px;
}

#img_logo_high {
    width: 100%;
}

#img-line {
    margin-top: 25px;
}

#img_logo_aboutus {
    width: 100%;
}

#img-logo-cursos {
    width: 12%;
    margin-right: 20px;
}

#container-logo {
    width: 55.56%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

#div-btn-roll {
    width: 271px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.25%;
}

#container-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

#info-aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 74.3%;
}

#div-text-aboutus {
    align-items: flex-start;
    width: 74.3%;
}

#align-aboutus {
    margin-bottom: 22px;
}

#div-img-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}

#container-oqvcvera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 920px;
    margin-bottom: 100px;
}

#info-oqvcvera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 860px;
    width: 82.5%;
}

#div-title {
    width: 100%;
    margin-bottom: 20%;
}

#div-topicos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 75px;
}


.div-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    width: 100%;
}

.cursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 13%;
}

.icon-cursos {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4%;
}

.container-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.div-info-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82.5%;
}

.div-text-cursos{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 13%;
}

.div-cards-cursos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.6%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 53, 106, 0.46);
    margin-bottom: 50px;
}

.card:hover{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    height: 310px;
    border-radius: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 53, 106, 0.46);    
    margin-bottom: 50px;
}

.div-img-card{
    width: 100%;
    height: 63.75%;
    border-radius: 18px;
}

.div-text-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    height: 30%;
    margin-bottom: 10px
}  

.cards-timeline{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.cards-timeline:hover{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 160px;
    border-radius: 13.5011px;
    background-color: #4E5BA6;
    margin-bottom: 15px;
}

.titles {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

#txt_logo_high {
    letter-spacing: 1.1vw;
    font-style: normal;
    font-weight: 600;
    font-size: 3.1vw;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.style-maintext {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3C3C3C;
}

.style-regulartext {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}

.style-titles {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #C02425;
}
.style-titles-main {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #C02425;
}

#update-img {
    width: 150px;
    height: 150px;
}

}

@media (min-width:  992px) {

    /* INDEX PC COMPUTADOR LINDAO */

    hr {
        box-sizing: border-box;
        margin: 0 auto;
        width: 1065px;
        border: 2px solid #E5E5E5;
    }
    
    #hiddenpc {
        display: none;
    }
    
    #btn-roll {
        transition: 0.5s;
    }
    
    #btn-roll:link {
        padding: 20px 38px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #btn-roll:visited {
        padding: 20px 38px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #btn-roll:hover {
        padding: 25px 43px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 15px;
        background: #ED5227;
        box-shadow: 0px 4.85549px 0px #A43A1D;
        border-radius: 11.0983px;
    }
    
    #img_logo_high {
        width: 100%;
    }
    
    #img-line {
        margin-top: 25px;
    }
    
    #img_logo_aboutus {
        width: 100%;
    }
    
    #img-logo-cursos {
        width: 3vw;
        margin-right: 20px;
    }
    
    #container-logo {
        width: 30.5%;
        height: 940px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #container-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 940px;
    }
    
    #div-btn-roll {
        width: 271px;
        height: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10.25%;
    }
    
    #container-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 100%;
    }
    
    #info-aboutus {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 57%;
    }
    
    #div-text-aboutus {
        align-items: flex-start;
        width: 74.3%;
    }
    
    #align-aboutus {
        margin-bottom: 22px;
    }
    
    #div-img-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 68px;
    }
    
    

     #container-oqvcvera {
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #info-oqvcvera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 915px;
    }

    #div-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 75px;
        margin-top: 105px;
    }

    #div-topicos {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 75px;    
    }


    .div-coluna {
        display: flex;
        flex-direction: column;
        gap: 80px;
        width: 21vw;
    }

    .cursos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 21vw;
    }

    .icon-cursos {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 120%;
    } 

    

    
    #div-info-timeline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;

    }

    #div-timeline{
        background-repeat: no-repeat;
        background-size: 100%;
        transition: 0.5s;
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.6%;
    }

    #div-timeline:hover{
        transition: 0.5s;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.6%;
    }

    #div-text-timeline{
        width: 70%;
        height: 300px;
        display: column;
        padding-left: 200px;
    }

    #timeline-text-limitacion{
        width: 250px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-cursos{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-info-cursos{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-text-cursos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .div-cards-cursos{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 4.6%;
    }

    .div-cards-cursos-influ{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-top: 4.6%;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 35vh;
        height: 35vh;
        border-radius: 1.5vh;
        box-shadow: 0px 4px 4px 0px rgba(0, 53, 106, 0.46);
    }

    .card:hover{
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 36vh;
        height: 36vh;
        border-radius: 2vh;
        box-shadow: 0px 4px 4px 0px rgba(0, 53, 106, 0.46);    
        margin-top: -6vh;
    }

    .div-img-card{
        width: 100%;
        height: 63.75%;
        border-radius: 2vh;
    }

    .div-text-card{
        width: 90%;
        display: flex;
        flex-direction: center;
        justify-content: center;
        height: 30%;
        margin-bottom: 10px
    }  

    .div-text-card{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        align-items: left;
        height: 30%;
        margin-bottom: 10px
    }  
    
    #cards-timeline{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        margin-bottom: 15px;
    }
    
    #cards-timeline:hover{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        margin-bottom: 15px;
    }

    .titles {
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
    }
    
    #txt_logo_high {
        letter-spacing: 0.55vw;
        font-style: normal;
        font-weight: 600;
        font-size: 1.9vw;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .text-cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130%;
    }
    
    #style-timeline{
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 7.290332975295382vh;
        font-style: normal;
        font-weight: 600;
        line-height: 54.863px; /* 80.831% */
        letter-spacing: 0.302px;
    }

    .style-maintext {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #3C3C3C;
    }
    
    .style-regulartext {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #3C3C3C;
        text-align: justify;
    }
    
    .style-titles {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #C02425;
    }

    .style-titles-main {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 26px;
        color: #C02425;
    }

    .style-minimal{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 24px;
        color: #3C3C3C;        
    }
    
    #update-img {
        width: 150px;
        height: 150px;
    }

}
