@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.msg {
    justify-content: space-between;
    height: fit-content;
    max-width: 300px;
    padding: 10px 19px;
    margin: 10px auto;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    animation: translateX 300ms;
}

.msg-content {
    margin-right: 20px;
}

.msg-content > p {
    text-indent: 6px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
}

.btn-close-msg {
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}

.msg-error {
    background-color: rgb(255, 129, 129);
    border-color: rgb(210, 22, 22);
}

.msg-success {
    background-color: #6fdd8b;
    border-color: #25d73d;
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    
    80% {
        transform: translateX(-5px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}