/* For mobile phones: */
/*fonts:*/

/* For mobile phones: */
/*fonts:*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@700&display=swap');

body {
  background: linear-gradient(180deg, #C02425 45%, #7B0B0A 100%);
  height: 826px;
}

.main {
  padding-top: 44px;
  width: 100%;
}

.progress-bar {
  border: 1px solid black;
  height: 60px;
  background-color: blue;
  display: inline-block;
  transition: .5s;
}

.icon {
  width: 298px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.status {
  width: 30px;
  height: 30px;
}

.progress {
  height: 19px;
  width: 255px;
}

.mainimage {
  width: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.image {
  width: 194px;
  height: 194px;
  left: 152px;
  bottom: 36px;
  margin: auto;
  margin-top: 55px;
}

.text {
  width: 298px;
  margin: auto;
  margin-top: 30px;
}

.level {
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin: auto;
}

.title {
  color: white;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 600;
  word-wrap: break-word;
  margin: auto;
  margin-top: 12px;
}

.button {
  width: 298px;
  height: 57px;
  margin: auto;
  margin-top: 40px;
}

input[type="radio"] {
  display: none;
}

.neutrobutton {
  cursor: pointer;
  display: block;
  width: 298px;
  height: 57px;
  margin: auto;
  margin-bottom: 17px;
  color: #AB1D1D;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  background-color: #E7E7E7;
  border: none;
  border-radius: 10px;
}

.neutrobutton:hover {
  width: 299px;
  height: 58px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25)
}

.wrongbutton {
  width: 298px;
  height: 57px;
  margin: auto;
  margin-bottom: 17px;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  background: linear-gradient(180deg, #C02425 54%, #7B0B0A 100%);
  border: none;
  border-radius: 10px;
  position: relative;
}

.wrongbutton:hover {
  width: 299px;
  height: 58px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25)
}

.rightbutton {
  width: 298px;
  height: 57px;
  margin: auto;
  margin-bottom: 17px;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  background: linear-gradient(180deg, #DDAA27 54%, #7B550A);
  border: none;
  border-radius: 10px;
  position: relative;
}

.rightbutton:hover {
  width: 299px;
  height: 58px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25)
}

.result {
  height: 11.5px;
  right: 26px;
  top: 22.75px;
  position: absolute;
}

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
  .Container {
    width: 540px;
  }
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
  .Container {
    width: 720px;
  }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
  .Container {
    width: 960px;
  }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
  .Container {
    width: 90%;
  }
}