/* For mobile phones: */ 
/*fonts:*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@700&display=swap');

.msg {
    margin-bottom: 30px;
}

#main{
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maintxt{
    width: 266px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
}

#maintitle{
    color: black; 
    font-size: 22px; 
    font-family: Roboto; 
    font-weight: 600; 
    word-wrap: break-word;
    margin: auto;
    margin-left: 0;
}

#maintext{
    color: #333333; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word;
    margin: auto;
    margin-left: 0;
    margin-top: 5px;
}

.topics{
    height: 143.88px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.card{
    width: 266px; 
    height: 107.88px; 
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #C02425 54%, #7B0B0A 100%); 
    border-radius: 20px;
    border: none;
}

.card:hover{
    width: 267px; 
    height: 108.88px; 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}

.text{
    width: 224px; 
    height: 27.97px; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-between;
    margin: auto;
    padding-bottom: -10px;
}

.title{
    color: white; 
    font-size: 22px; 
    font-family: Roboto; 
    font-weight: 600; 
    word-wrap: break-word;
}


.quests{
    color: white; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word;
}


.icon{
    width: 224px; 
    height: 23px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: auto;
}

.status{
    width: 23px; 
    height: 23px;
}

.image{
    width: 109px; 
    height: 109px;
    left: 152px; 
    bottom: 36px;
    position: absolute;
}

