/* CONFIGURAÇÃO */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

.Container {
  width: 350px;
}

body {
  font-family: Poppins;
  background: linear-gradient(to bottom, #C02425 45%, #7B0B0A 100%);
  height: 100vh;
}

.Container {
  overflow: hidden;
}

.quiz-status {
  justify-content: space-between;
  color: white;
  margin: 20px;
}

.quiz-status img, .countdown {
  width: 26px;
  text-align: center;
}

/* Classes da barra de progresso */
.progress-bar-container {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  border: none;
  margin: 0 10px 0 10px;
  background-color: white;
}

.progress-bar {
  border: 1px solid black;
  height: 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #7B0B0A , #C02425);
  width: 0px;
  display: inline-block;
  transition: .5s;
}
.question-image {
  width: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.image {
  width: 194px;
  height: 194px;
  margin: auto;
}

.question-header {
  width: 298px;
  margin: auto;
  margin-top: 20px;
}

.p-header {
  color: white;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  margin: auto;
}

.question {
  color: white;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 600;
  word-wrap: break-word;
  margin: auto;
  margin-top: 12px;
}

input[type="radio"] {
  display: none;
}

.options-container {
  margin: auto;
  margin-top: 20px;
}

.options-container p {
  width: 288px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  word-wrap: break-word;
  height: fit-content;
}

.option-container {
  margin-bottom: 12px;
}

.option {
  cursor: pointer;
  display: flex;
  width: 298px;
  height: 50px;
  margin: auto;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: #E7E7E7;
  border: none;
  border-radius: 10px;
}

.p-container {
  width: 100%;
}

.option:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25)
}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
  .Container {
    width: 720px;
    align-items: center;
    height: 100%;
  }
  .container-quiz {
    height: fit-content;
  }
  .container-question-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 100px 0px;
  }
  .question-image, .image, .question-header,.p-header {
    margin: 0%;
  }
  .question-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .question-header p {
    width: 100%;
  }
  .options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: fit-content;
  }
  .option-container {
    width: fit-content;
  }

}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
  .Container {
    width: 720px;
  }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
  .Container {
    width: 960px;
  }
}