/* Smartphone Portrait (ATÉ 576px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.Full-height {
    height: 100vh;
}

.visual {
    display: none;
}

.back {
    display: none;
    height: 30px;
}

.container-msg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    position: relative;
    display: flex;
    margin-top: 5px;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #E7E7E7;
    margin-top: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    justify-items: center;
    align-items: center;
}

.flex-2{
    margin-bottom: 8%;
}

.form-container p,
a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.form-container a {
    color: #CE3C3C;
    text-decoration: none;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 10%;
    margin-top: 4%;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6%;
}

.btn-con {
    display: flex;
    background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
    color: white;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    margin-bottom: 12%;
    cursor: pointer;
}

/* ::-webkit-input-placeholder {
    color: #333333;
    padding: 19px;
}

:-ms-input-placeholder {
    color: #333333;
    padding: 19px;
}

::placeholder {
    color: #333333;
    padding: 19px;
} */

input {
    border: 1px solid #DDDDDD;
    margin: 5px 1px 3px 0px;
    outline: none;
    text-indent: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  }
  
  input:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
  }

  #register-container{
    width: 335px;

  }

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 576px) {
    .Container {
        width: 540px;
    }
}

/*.Container {
    max-width: fit-content;
}

.Container {
    width: 720px;

}*/

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .back{
        position: absolute;
        display: block;
        margin-top: 30px;
        margin-left: 30px;
    }
    
    input {
        margin-top: 5px;
        border-radius: 4px;
        height: 40px;
        border: none;
        background-color: #E7E7E7;
    }
    .form-group {
        /*align-content: stretch;*/
        display: flex;
        flex-direction: column;
    }
    .form-container {
        display: flex;
        flex-direction: row;
        width: 350px;
        gap: 12%;
        margin-top: 0;
        margin-top: 8%;
    }
    .form-group {
        display: flex;
    }
    #register-container {
        margin: auto;
        /*margin-top: 20px;*/
    }
    .visual {
        width: 45%;
        max-height: 100;
        background: linear-gradient(180deg, #C02425 45.91%, #7B0B0A 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .visual {
        display: block;
        flex-direction: column;
    }
    .visual-content {
        display: flex;
        flex-direction: column;
    }
    .visual-content img {
        margin-bottom: 30px;
    }
    .btn-con {
        background: linear-gradient(180deg, #C02425 53.65%, #7B0B0A 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 145px;
        height: 40px;
        margin-bottom: 0;
    }
    .title{
        margin-bottom: 7%;
    }
}

.foto{
    display: inline-block;
    margin-bottom: 40px;
}


.logo{
    margin-top: 20px;
}

.txt{
    margin-top: 5px;
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}