.Container {
  width: 90%;
}

hr {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1065px;
  border: 2px solid #E5E5E5;
}

.div-img-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titulo-artigo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60%;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: white;
}

.container-pag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.img-pag {
  height: 80%;
  width: 75%;
  margin-top: 50px;
}

.img-mto-legal {
  width: 100%;
}

.container-banner {
  width: 90%;
  height: 80px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.div-pag {
  display: flex;
  width: 100%;
  text-align: justify;
  align-items: center;
  margin-top: 30px
}

.txt-pag {
  font-family: 'Poppins';
  font-style: normal;
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
  line-height: 105%;
  color: #3C3C3C;
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

  .container-banner {
    width: 90%;
    height: 150px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .container-pag {
    display: inline-block;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 10%;
    justify-content: space-between;
  }

  .div-pag {
    display: inline-block;
    float: right;
    width: 65%;
    margin-top: 7%;
  }

  .img-pag {
    display: inline-block;
    float: left;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

}