hr {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1065px;
    border: 2px solid #E5E5E5;
}
#img-banner {
    width: 100%;
    height: 6.790123456790123%;
}
#div-img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#titulo-y2k{
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 4.7vw;
    line-height: 60%;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    top: 15%;
    left: 45%;
    color: white;
    margin-top: 93px;
}

.container-primeiro-pag {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
  }


.container-banner{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#div-primeiro-pag {
    display: flex;
    width: 70.864583333333336%;
    height: 2.993827160493827%;
    margin-top: 70px;
    margin-left: 30px;
} 

#div-segundo-pag{
    display: flex;
    margin-top: 200px;
    width: 70.864583333333336%;
    height: 2.993827160493827%;
    float: left;
   
}

.txt-pag {
    font-family: 'Poppins';
    font-style: normal;
    text-align: justify;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 105%;
    color: #333333;
    
  }
  .img-pag{
    height: 80%;
    width: 75%;
    margin-top: 50px;
  }
  .container-segundo-pag{
    margin-top: -150px;
    margin-left: 90px;
    margin-right: 90px;
  }

/* Smartphone landscape (ATÉ 768px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        width: 540px;
    }


}

/* Tablet Portrait (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        width: 720px;
    }
}

/* Tablet Landscape (ATÉ 992px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        width: 960px;
    }
}

/* PC (>= 1200px) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        width: 90%;
    }
}